In [19]:
import oandapy
import pandas as pd
account = "101-011-6029361-001"
access_token="8153764443276ed6230c2d8a95dac609-e9e68019e7c1c51e6f99a755007914f7"
account_type = "practice"

In [10]:
oanda = oandapy.API(environment=account_type, access_token=access_token)

In [11]:
response = oanda.get_prices(instruments="EUR_USD")
prices = response.get("prices")
asking_price = prices[0].get("ask")

In [12]:
asking_price

1.13864

In [13]:
class MyStreamer(oandapy.Streamer):
    def __init__(self, count=10, *args, **kwargs):
        super(MyStreamer, self).__init__(*args, **kwargs)
        self.count = count
        self.reccnt = 0

    def on_success(self, data):
        print(data, "\n")
        self.reccnt += 1
        if self.reccnt == self.count:
            self.disconnect()

    def on_error(self, data):
        self.disconnect()

In [14]:
stream = MyStreamer(environment=account_type, access_token=access_token)
stream.rates(account, instruments="EUR_USD,EUR_JPY,US30_USD,DE30_EUR")

In [16]:
hist = oanda.get_history(instrument = "AUD_CAD", granularity = "M5", count = 5000, price = "MBA")

In [24]:
pd.DataFrame(hist['candles']).head()

,closeAsk,closeBid,complete,highAsk,highBid,lowAsk,lowBid,openAsk,openBid,time,volume
0,1.00821,1.00799,True,1.00866,1.00845,1.00819,1.00796,1.00855,1.00831,2017-06-15T04:00:00.000000Z,124
1,1.00821,1.00799,True,1.00831,1.00807,1.00814,1.00790,1.00823,1.00799,2017-06-15T04:05:00.000000Z,209
2,1.00824,1.00800,True,1.00831,1.00809,1.00817,1.00794,1.00821,1.00800,2017-06-15T04:10:00.000000Z,106
3,1.00812,1.00791,True,1.00831,1.00808,1.00812,1.00785,1.00824,1.00801,2017-06-15T04:15:00.000000Z,113
4,1.00812,1.00789,True,1.00816,1.00793,1.00805,1.00783,1.00812,1.00793,2017-06-15T04:20:00.000000Z,108